/* Header */

.fixedHeaderContainer {
    background-color: #149e83;
}

.fixedHeaderContainer header {
    align-items: center;
}

.fixedHeaderContainer header .headerTitleWithLogo {
    font-size: 14px;
    font-weight: 400;
}

.navigationSlider .slidingNav {
    bottom: 0;
}

.navigationSlider .slidingNav ul {
    margin-top: 0;
    margin-bottom: 0;

}
.navPusher {
    padding-top: 50px;
}

.navigationSlider .slidingNav ul li a {
    font-weight: 300;
    color: #fff;
    transition: opacity 0.15s;
}

.navigationSlider .slidingNav ul li a:hover {
    opacity: 0.5;
}

@media screen and (max-width: 480px) {
    body.tocActive .onPageNav {
        top: 98px;
    }
}

@media screen and (min-width: 481px) {
    .fixedHeaderContainer {
        padding: 13px 0;
    }
    .fixedHeaderContainer a {
        height: 64px;
    }
    .navigationSlider .slidingNav ul {
        margin-top: 0;
        height: 100%;
        align-items: center;
    }
    .navPusher {
        padding-top: 90px;
    }
}

@media screen and (max-width: 1024px) {
    .navigationSlider .slidingNav {
        left: auto;
    }
    .navigationSlider .slidingNav ul,
    .navigationSlider .slidingNav ul li a:hover,
    .navigationSlider .slidingNav ul li a:focus {
        background: transparent;
    }
    .tocActive .onPageNav {
        top: 138px;
    }
}

@media screen and (min-width: 1024px) {
    .fixedHeaderContainer {
        padding: 26px 0;
    }
    .navigationSlider {
        height: auto;
    }
    .navigationSlider .slidingNav ul li a {
        padding-left: 25px;
        padding-right: 25px;
    }
    .navPusher {
        min-height: calc(100vh - 116px);
        padding-top: 116px;
    }
    .docsNavContainer {
        height: calc(100vh - 116px);
        top: 116px;
    }
    .onPageNav {
        height: calc(100vh - 156px);
        top: 156px;
    }
}

/* Footer */

footer {
    border: none;
    color: rgba(31, 31, 31, 1);
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 2em;
    padding-top: 2em;
    position: relative;
}
  
@media only screen and (min-width: 1024px) {
    footer {
        flex-shrink: 0;
    }
}
  
footer .content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 3em;
    flex-wrap: wrap;
    margin: 0 20px;
    max-width: 1120px;
}

footer .content #footer-col-1,
footer .content #footer-col-2,
footer .content #footer-col-3,
footer .content #footer-copyright {
    width: 33%;
    min-width: 200px;
}

footer .content #footer-col-1,
footer .content #footer-col-2,
footer .content #footer-col-3 {
    margin-bottom: 2em;
    font-size: 13px;
}

footer .content #footer-social {
    width: 100%;
    margin-bottom: 2em;
}

footer .content #footer-social a {
    margin-left: 20px;
}

footer .content #footer-social a:first-child {
    margin-left: 0;
}

footer .content #footer-privacy,
footer .content #footer-copyright {
    font-size: 10px;
}

footer .content #footer-privacy a {
    margin-left: 16px;
}

footer .content #footer-privacy a:first-child {
    margin-left: 0;
}

footer .content a {
    color: #1f1f1f;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

footer .content a:hover,
footer .content a:focus {
    opacity: 0.6;
}

footer .content .footer-links a {
    display: block;
    margin: 2px -10px;
    padding: 3px 10px;
}
  
footer .content h4 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #1f1f1f;
}

@media screen and (min-width: 481px) {
    footer .content #footer-privacy {
        margin-right: 30px;
    }
}

@media screen and (min-width: 1024px) {
    footer .content #footer-logo {
        width: 230px;
        text-align: center;
    }

    footer .content #footer-col-1,
    footer .content #footer-col-2,
    footer .content #footer-col-3 {
        width: 250px;
    }

    footer .content #footer-social,
    footer .content #footer-privacy {
        margin-left: calc(230px + ((100% - (230px + (250px * 3))) / 3));
    }

    footer .content #footer-copyright {
        width: 250px;
    }
}

@media screen and (max-width: 1023px) {
    footer .content #footer-logo {
        width: 100%;
        flex: auto;
        margin-bottom: 1em;
        text-align: initial;
    }
}

@media only screen and (max-width: 735px) {
    footer .content {
        display: flex;
        flex-direction: row;
        margin: 0 2em 3em;
        width: calc(100% - 4em);
    }
  
    footer .content > div {
        margin-bottom: 18px;
    }
}
  /* End of Footer */